<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
  
  
  {% render 'shogun-head' %}
</head>
  <body>
    <h1>Estoy Aqui</h1>
    <script type="text/javascript">
      console.log('entro');
    </script>
    

    <header class="banner" data-header role="banner">
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </header>

    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main">
          <header class="main__header" role="banner">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </header>
          <main class="main__content" role="main">
            
            {{ content_for_layout }}
          </main>
          <footer class="main__footer" role="contentinfo">
            {{ content_for_footer }}
          </footer>
        </div>
        <aside class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </aside>
      </div>
    </div>

    {{ tracking_code }}



</body>
</html>
<script  type="text/javascript">
(function ($) {
  $(document).on("page:load page:change", function () {
    const errorClass = "field--error-plus-dynamic";
    const errorMessageSelector = ".field__message--error-plus-dynamic";

    // Check input for character limit and remove letters
    const validatePhoneNumber = function (phoneField) {
      const minChars = 10;

      const errorMessage = "{{ 'checkout.phone_field_error' | t }}";
      const numbers = phoneField.val().match(/(\d)/g) || [];
      const numbersLength = numbers.length;

      if (numbersLength !== 0 && numbersLength < minChars) {
        // Not enough characters, show error on input.
        phoneField.addClass(errorClass);
        phoneField.closest("[data-address-field]").addClass("field--error");
        if ($("#error-for-phone").length > 0) {
          $("#error-for-phone").text(errorMessage);
        } else {
          phoneField.closest("[data-address-field]").append(
            `<p class="field__message field__message--error field__message--error-plus-dynamic" id="error-for-phone">${errorMessage}</p>`
          )
        }
        
        return false;
      } else {
        // Phone number is valid. Remove errors and continue.
        phoneField.removeClass(errorClass);
        phoneField.closest("[data-address-field]").removeClass("field--error");
        phoneField.find("#error-for-phone").remove();

        return true;
      }
    };

    if (Shopify.Checkout.step === "contact_information") {
      const $phoneField = $('[name="checkout[shipping_address][phone]"]:not([aria-hidden="true"])');

      $phoneField.keydown((e) => enforceFormat(e));
      $phoneField.keyup((e) => formatToPhone(e));

      // Check for enter keypress on form and click button instead.
      $("[data-step] form").on("keypress", function (e) {
        if (e.keyCode === 13) {
          e.preventDefault();
          $(this).find('[type="submit"]').trigger("click");
        }
      });

      // Handle form submit by validating button click.
      $('[data-step] form [type="submit"]').on("click", function (e) {
        e.preventDefault();
        if (validatePhoneNumber($phoneField)) {
          $("[data-step] form").trigger("submit");
        }
      });

      function formatToPhone(event) {
        if (isModifierKey(event)) {
          return;
        }

        const input = event.target.value.replace(/\D/g, "").substring(0, 10); // First ten digits of input only
        const areaCode = input.substring(0, 3);
        const middle = input.substring(3, 6);
        const last = input.substring(6, 10);

        if (input.length > 6) {
          event.target.value = `(${areaCode}) ${middle}-${last}`;
        } else if (input.length > 3) {
          event.target.value = `(${areaCode}) ${middle}`;
        } else if (input.length > 0) {
          event.target.value = `(${areaCode}`;
        }
      }

      function isModifierKey(event) {
        const key = event.keyCode;
        return (
          event.shiftKey === true ||
          key === 35 ||
          key === 36 || // Allow Shift, Home, End
          key === 8 ||
          key === 9 ||
          key === 13 ||
          key === 46 || // Allow Backspace, Tab, Enter, Delete
          (key > 36 && key < 41) || // Allow left, up, right, down
          // Allow Ctrl/Command + A,C,V,X,Z
          ((event.ctrlKey === true || event.metaKey === true) &&
            (key === 65 || key === 67 || key === 86 || key === 88 || key === 90))
        );
      }

      function enforceFormat(event) {
        const isNumericInput = (event) => {
          const key = event.keyCode;
          return (
            (key >= 48 && key <= 57) || // Allow number line
            (key >= 96 && key <= 105) // Allow number pad
          );
        };

        // Input must be of a valid number format or a modifier key, and not longer than ten digits
        if (!isNumericInput(event) && !this._isModifierKey(event)) {
          event.preventDefault();
        }
      }
    }
  });
})(Checkout.$);
</script>
